<div class="jumbotron"> 
    <div class="container">
        <div id="logo">
            <h1>Code = Art();</h1>
            <p>Desarrollo Web &amp; Seguridad IT</p>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-md-4">
  	<div class="panel panel-default">
  	  <div class="panel-heading">
  	    <h3 class="panel-title">Articulos</h3>
  	  </div>
  	  <div class="panel-body">
  	  	<li>Basicos explotacion 1</li>
  	    <li>Experimentos con raspberry pi</li>
  	    <li>Brisa fresca en Rails</li>
  	  </div>
  	</div>
  </div>
  <div class="col-md-4">

  	<div class="panel panel-default">
  	  <div class="panel-heading">
  	    <h3 class="panel-title">Recortes</h3>
  	  </div>
  	  <div class="panel-body">
  	    <li>Creando claves facilmente</li>
  	    <li>Integración Linux en VMWare</li>
  	    <li>OpenVPN en Mac via CLI</li>
  	  </div>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="panel panel-default">
  	  <div class="panel-heading">
  	    <h3 class="panel-title">Pensando</h3>
  	  </div>
  	  <div class="panel-body">
  	    <li>Un poco de zen para el alma</li>
  	    <li>La cura siniestra, reseña</li>
  	    <li>Megaman</li>
  	  </div>
  	</div>
  </div>	
</div>
