<% @posts.each do |post| %>

  <h2><%= link_to post.title, post %></h2>

  <h5>
    <span class="glyphicon glyphicon-time"></span>
    <%= post.created_at.strftime("%b %d, %Y") %>
  </h5>

  <!--
  <h5>
    <span class="label label-danger">Food</span>
    <span class="label label-primary">Ipsum</span>
  </h5>
  -->

  <br>

  <p><%= post.content %></p>

  <br>
  <br>

<% end %>
