body {
    font: 20px, sans-serif;
    line-height: 1.8;
    padding-top:20px;
 }

 p {
   font-size: 16px;
 }

 .navbar {

 }

 .navbar-nav  li a:hover {
     color: #1abc9c !important;
 }

#user_bar {
    text-align:right;
}

.post_controls {
    text-align: right;
}

.navbar-brand img {
    width:22px;
    margin-right:10px;
}

.jumbotron {

    background-image: url("banner.jpg");
    min-height:237px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

}

.avatar {
    max-height: 100%;
    max-width: 100%;

}

#logo {
    margin-top:50px;
    text-align:center;
    color:white;
}
#logo h1 {
    font-size:1.3em;
}
#logo p {
    font-size:1em;
}
footer p {
    font-size:0.8em;
    padding: 10px;
    color:#ccc;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}